<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 
	    <title>Create New Comment Moderator</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
	  	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link href="../../../css/style.css" rel="stylesheet" />
	</head>
	<body>
		<div th:include="fragments/header :: admin"></div>
		<div class="container">
			<div class="col-md-6 col-md-offset-3">
				<h1>New Comment Moderator</h1>				
				<div th:include="users/form :: singUpform(@{/users/moderators/})"></div>
			    <p><a href="/users/moderators">Back</a></p>
			</div>
	    </div>
	    <div th:include="fragments/footer :: admin"></div>
	</body>
</html>