<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 
	    <title>Edit Hotel</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen"/>    
	  	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link href="../../css/style.css" rel="stylesheet" />
	</head>
	<body>
		<div th:include="fragments/header :: manager"></div>
		<div class="container">
			<div class="col-md-6 col-md-offset-3">
				<h1>Edit Hotel</h1>
				<div th:include="hotels/form :: hotelform(@{|/hotels/${hotel.id}|})"></div>
		    	<p><a href="/hotels">Back</a></p>
		    </div>
	    </div>
	    <div th:include="fragments/footer :: manager"></div>
	</body>
</html>