<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 
	    <title>Handling Form Submission</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
	  	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	  	<script src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/jquery.raty.min.js"></script>
	  	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
	  	<link href="../../../../css/style.css" rel="stylesheet" />
	</head>
	<body>
	<div th:include="fragments/header :: manager"></div>
		<div class="container">
			<h1>Booking Form</h1>
			
				<form action="#" th:action="${url}" th:object="${booking}" method="post">
					<p>
						<input type="hidden" th:field="*{id}" />	
					</p>			
	                <p>Arrival: <input class="form-control" type="date" th:field="*{start}"/></p>    	    
	                <p>Departure: <input class="form-control" type="date" th:field="*{end}"/></p>    	    
		    	    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
			    </form>
			
		</div>
		<div th:include="fragments/footer :: manager"></div>	
	</body>
</html>