<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 
	    <title th:text="${hotel.hotelType} + ' ' + ${hotel.name}"></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
		<link href="../../css/style.css" rel="stylesheet" />
		<link href="../../css/table.css" rel="stylesheet" />
 		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/jquery.raty.min.js"></script>
	</head>
	<body>
		<div th:include="fragments/header :: manager"></div>
		<div class="section">
	            <div class="container">
	                <div class="row">
	                    <div class="col-md-12">
	                        <div class="section">
	                            <div class="container">
	                                <div class="row">
	                                    <div class="col-md-12">
	                                        <h1 class="text-center" th:text="${hotel.hotelType} + ' ' + ${hotel.name}"><br/></h1>
	                                        <div id="carousel-example" data-interval="5000" class="carousel slide" data-ride="carousel">
	                                            <div class="carousel-inner">
	                                                <div class="item active">
	                                                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" />
	                                                </div>
	                                            </div>
	                                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
	                                                <i class="icon-prev fa fa-angle-left"></i>
	                                            </a>
	                                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
	                                                <i class="icon-next fa fa-angle-right"></i> 
	                                            </a>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="row">
	                                    <div class="col-md-6">
	                                    	<br/>
	                                        <div class="star-rating" th:attr="data-score=${hotel.numStars}"></div>
	                                        <h3 th:text="${hotel.address}"></h3>
	                                        <h3>Mapa</h3>
	                                        <p></p>
	                                    </div>
	                                    <div class="col-md-6">
	                                        <h1>Rooms<br/></h1>
	                                        <div id="notice" class="text-center bg-success"></div>
	                                        <table class="table">
									            <tr th:each="room : ${rooms}">
									                <td th:text="${room.roomType} + ' each ' + ${room.price} + ' €'"></td>
									            	
									            	<td th:if="${#httpServletRequest.isUserInRole('ROLE_MANAGER') == true}">
									                	<a class="btn btn-sm btn-primary" th:href="@{|/hotels/${hotel.id}/room/${room.idRoom}/booking|}">
									                		<span class="glyphicon glyphicon-edit" aria-hidden="true"> Add Booking</span>
									                	</a>
									                </td>
									            </tr>
									        </table>
									        
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col-md-12">
	                            <h1>Comments</h1>
	                            <table class="table" th:each="comment : ${comment}">
								    <tr>
								    	<td><b th:text="${comment.description}"></b> by <span th:text="${comment.user.name}">User</span></td>
								    </tr>
								</table>
	                            <div th:if="${#httpServletRequest.isUserInRole('ROLE_MODERATOR') == true}">
	                            	<table class="table" th:each="comment : ${commentsNotApproved}">
									    <tr>
									    	<td style="opacity: 0.5;"><b th:text="${comment.description}"></b> by <span th:text="${comment.user.name}">User</span></td>
									    	<td>
									    		<a class="btn btn-sm btn-primary" href="/comments"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Got to Approve Page</a>
									    	</td>
									    </tr>
									</table>
	                            </div>
	                            <div th:if="${#httpServletRequest.isUserInRole('ROLE_GUEST') == true}" sec:authorize="${#authorization.expression(T(hotel.security.AllowedForCommentCreation).Condition2)}">
	                            	<a class="btn btn-sm btn-info" th:href="@{|/guests/hotels/${hotel.id}/comment|}">Comment</a>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="section">
	            <div class="container">
	                <div class="row" th:if="${#httpServletRequest.isUserInRole('ROLE_MANAGER') == true}">
						<a class="btn btn-sm btn-default" href="/hotels"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Back</a>
						<a class="btn btn-sm btn-primary" th:href="@{|/hotels/${hotel.id}/edit|}">Edit</a>
						<form th:method="'delete'" th:action="@{#}" action="#">
		                	<p class="submit"><input class="btn btn-sm btn-danger pull-right" type="submit" value="Delete" /></p>
		            	</form>
	                </div>
	            </div>
	        </div>
		<div th:include="fragments/footer :: manager"></div>		
		<script src="../../js/app.js"></script>
	</body>
</html>